.main {
  width: 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.jogo {
  display: flex;
  width: 200px;
  flex-wrap: wrap;
  border: 1px solid black;
  justify-content: center;
  margin: 5px;
}

.jogo p {
  margin: 5px;
}

