

<h1 class="titulo">Minha Estante Virtual</h1>

<section class="primeiraSecao">

  <div class="primeiroParagrafo">
    <p>"Bem-vindo à sua <strong>Estante Virtual</strong> , um mundo mágico repleto
      de jogos de tabuleiro esperando para serem explorados.
      Prepare-se para embarcar em aventuras emocionantes e
      descobrir novas experiências de jogo."</p>
      <img class="primeiroParagrafoImagem" src="./../../../../assets/img/imagemPrimeiroParagrafo.jpg" alt="">
  </div>


</section>

<div class="segundoParagrafo">
  <p>"Aqui, as estratégias ganham vida e a diversão é garantida.
    Prepare-se para horas de aventura e desafios!"
  </p>
</div>

<div class="terceiroParagrafo">
  <p>"No mundo dos jogos de tabuleiro, as derrotas são apenas
     oportunidades de aprendizado e crescimento. Aproveite cada
     partida como uma chance de se tornar um jogador melhor e
     desfrute do processo, independentemente do resultado final."</p>
</div>

<div class="imagemMeeples">

  <img src="./../../../../assets/img/meeples.jpg" alt="">

</div>



